@font-face {
  font-family: "toutiao";
  /* Project id 3617783 */
  src: url('//at.alicdn.com/t/c/font_3617783_1bukt1lsplr.woff2?t=1664092554391') format('woff2'), url('//at.alicdn.com/t/c/font_3617783_1bukt1lsplr.woff?t=1664092554391') format('woff'), url('//at.alicdn.com/t/c/font_3617783_1bukt1lsplr.ttf?t=1664092554391') format('truetype'), url('//at.alicdn.com/t/c/font_3617783_1bukt1lsplr.svg?t=1664092554391#toutiao') format('svg');
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiao-guanbi:before {
  content: "\e601";
}
.toutiao-gengduo:before {
  content: "\e602";
}
.toutiao-pinglun:before {
  content: "\e603";
}
.toutiao-dianzan2:before {
  content: "\e604";
}
.toutiao-shipin:before {
  content: "\e605";
}
.toutiao-shanchu:before {
  content: "\e606";
}
.toutiao-shouye:before {
  content: "\e607";
}
.toutiao-yanzhengma:before {
  content: "\e608";
}
.toutiao-shoucang:before {
  content: "\e609";
}
.toutiao-sousuo:before {
  content: "\e60a";
}
.toutiao-zuojiantou:before {
  content: "\e60b";
}
.toutiao-shouji:before {
  content: "\e60c";
}
.toutiao-wenda:before {
  content: "\e60d";
}
.toutiao-youjiantou:before {
  content: "\e60e";
}
.toutiao-wuwangluo:before {
  content: "\e60f";
}
.toutiao-wode:before {
  content: "\e610";
}
.toutiao-zuopin:before {
  content: "\e611";
}
.toutiao-yuedu:before {
  content: "\e612";
}
body {
  background-color: #f5f7f9;
}
.van-nav-bar .van-nav-bar__content {
  background-color: #3296fa;
}
.van-nav-bar .van-nav-bar__title {
  color: #fff;
}
